<!DOCTYPE html>
<html>
<head>
    <title>etick</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="__LAYUI__/layui.js"></script>
    <link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CSS__/style.css?version=5" type="text/css" />
    <script type="text/javascript" src="__JS__/action.js?version=0"></script>
    <script type="text/javascript" src="__JS__/login.js?version=3" ></script>
    <script type="text/javascript" src="__MD5__/md5.js?version=4"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<div class="container login_div">

    <form action="javascript:;">
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control" id="login_username" placeholder="用户名" />
        </div>
        <br />
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input type="text" class="form-control" id="login_password" placeholder="密码" />
        </div>
        <br />
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-file-picture-o fa-fw"></i></span>
            <input type="text" class="form-control" id="login_captcha" placeholder="图片验证码" />
        </div>
        <br/>
        <div class="input-group margin-bottom-sm div-center">
            <img id="login_captcha_img" src="{:captcha_src()}" onclick="this.src='/tp5/public/index.php/captcha?id='+Math.random()" style="cursor: pointer;position:relative;left:0%;" /><br />
        </div>
        <br/>
        <div class="input-group matchin-bottom-sm div-center">
            <button type="submit" class="btn btn-default" id="login_login" >登录</button>

        </div>

        <div class="input-group margin-bottom-sm div-center">
            <button type="button" class="btn btn-default" id="login_register">注册</button>
            <button type="button" class="btn btn-default" id="login_fotget_password">忘记密码</button>
        </div>

    </form>
</div>
</body>
<script>
    //测试 子窗口
//    $(function(){
//        $("#login_login").click(function(){
//            var iWidth = 500;
//            var iHeight = 300;
//            var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
//            var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
//            var win = window.open("/tp5/public/index.php/etick/register/index", "弹出窗口", "width=" + iWidth + ", height=" + iHeight + ",top=" + iTop + ",left=" + iLeft + ",toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no,alwaysRaised=yes,depended=yes");
//
//        });
//    });
</script>
</html>


