{layout name="layout" title="管理员" /}

<div class="container" >
    <div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">管理员</a>
                </div>
                <div>
                    <!--向左对齐-->
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                赛事操作
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="admin_publish_match">发布</a></li>
                                <li><a href="#" id="admin_change_match">变更</a></li>
                                <li><a href="#" id="admin_balance_match">结算</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container" id="admincontainer">


    </div>
</div>



