<div class='container'><a href='#' id='scoresalingrecordentrustmentpurchase2.0180825011931E+16'>
    <div><p>undefined</p>
        <p>1</p>
        <p>100</p>
        <p>100~100</p></div>
</a></div>
<script>$(function () {
    $('#scoresalingrecordentrustmentpurchase2.0180825011931E+16').click(function () {
        $.ScoreSalingRecordEntrustmentPurchase([object Object]);
    });
});</script>
<button class='btn btn-default' id='scoreentrustmentbuying'>挂单买入</button>
<script>$(function () {
    $('#scoreentrustmentbuying').click(function () {
        $.ScoreEntrustmentBuying();
    });
});</script>