body {
        padding-top:100px;
        position:relative;
        left:0%;
    }
    /* -------------菜单css代码----------begin---------- */
    .menuDiv {
        border: 2px solid #aac;
        overflow: hidden;
        display:inline-block;
    }

    /* 去掉a标签的下划线 */
    .menuDiv a {
        text-decoration: none;
    }

    /* 设置ul和li的样式 */
    .menuDiv ul , .menuDiv li {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    }

    /* 设置二级菜单绝对定位，并隐藏 */
    .menuDiv > ul > li > ul {
        position: absolute;
        display: none;
    }

    /* 设置二级菜单的li的样式 */
    .menuDiv > ul > li > ul > li {
        float: none;
    }

    /* 鼠标放在一级菜单上，显示二级菜单 */
    .menuDiv > ul > li:hover ul {
        display: block;
    }

    /* 一级菜单 */
    .menuDiv > ul > li > a {
        width: 120px;
        line-height: 40px;
        color: black;
        background-color: #cfe;
        text-align: center;
        border-left: 1px solid #bbf;
        display: block;
    }

    /* 在一级菜单中，第一个不设置左边框 */
    .menuDiv > ul > li:first-child > a {
        border-left: none;
    }

    /* 在一级菜单中，鼠标放上去的样式 */
    .menuDiv > ul > li > a:hover {
        color: #f0f;
        background-color: #bcf;
    }

    /* 二级菜单 */
    .menuDiv > ul > li > ul > li > a {
        width: 120px;
        line-height: 36px;
        color: #456;
        background-color: #eff;
        text-align: center;
        border: 1px solid #ccc;
        border-top: none;
        display: block;
    }

    /* 在二级菜单中，第一个设置顶边框 */
    .menuDiv > ul > li > ul > li:first-child > a {
        border-top: 1px solid #ccc;
    }

    /* 在二级菜单中，鼠标放上去的样式 */
    .menuDiv > ul > li > ul > li > a:hover {
        color: #a4f;
        background-color: #cdf;
    }

    .match-div{
        padding:3px;
    }
    .match-info-div{
        padding:2px;
    }
    .match-caption{
        color:rgb(155,155,155);

    }
    .match-caption-info{
        color:rgb(74,74,74);
    }

    .login_div{
        width:300px;
    }
    .register_div{
        width:300px;
    }

    .div-center{
        margin:0 auto;
    }

    .div-footer{
        height:100px;
        margin:0 auto;
        border:1px solid #E6E6E6;
    }

    .div-captcha{
        border:1px solid #E6E6E6;
        border-radius:5px;
    }

    .div-border{
        margin:5px;
        border:1px solid #E6E6E6;
        border-radius:5px;
    }

    .div-single-line{
        padding:5px;
        margin:1px;
    }

    .input-text-100{
        width:100px;
    }

    .input-text-50{
        width:50px;
    }

    .input-text-80{
        width:70px;
    }

    .input-text-100-bottom{
        width:100px;
        border-bottom: black 1px solid;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        background-color: transparent;
    }

    .input-text-50-bottom{
        width:50px;
        border-bottom: black 1px solid;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        background-color: transparent;
    }

    .input-text-no-margin{
        margin:0;
    }

    .div-score-border{
        background-color:rgb(245,245,245);
        margin:5px;
        border:1px solid #E6E6E6;
        border-radius:5px;
    }



