<!DOCTYPE html>
<html>
<head>
    <title>etick</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="__LAYUI__/layui.js"></script>
    <link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CSS__/style.css?version=4" type="text/css" />
    <script type="text/javascript" src="__JS__/action.js?version=0"></script>
    <script type="text/javascript" src="__JS__/register.js?version=0"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script>
        $(function(){
            $(document).ready(function(){
                var rankpre = GetUrlParam("rankpre");
                $("#register_rankpre").val(rankpre);
            });
        });
    </script>
</head>
<body>
<div class="container register_div">
    <form action="javascript:;" >
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control" id="register_username" placeholder="用户名" />
        </div>
        <br/>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            <input type="text" class="form-control" id="register_password" placeholder="密码" />
        </div>
        <br/>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
            <input type="text" class="form-control" id="register_tel" placeholder="手机号" />
        </div>
        <br/>
        <div class="input-group margin-bottom-sm">
            <button type="button" class="btn btn-default" id="register_gettelidentify">获取验证码</button>
        </div>
        <br/>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-mobile fa-fw"></i></span>
            <input type="text" class="form-control" id="register_telidentify" placeholder="手机验证码" />
        </div>
        <br/>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-file-picture-o fa-fw"></i></span>
            <input type="text" class="form-control" id="register_captcha" placeholder="图片验证码" />
        </div>
        <br/>
        <div class="input-group margin-bottom-sm div-center">
            <img id="register_captcha_img" src="{:captcha_src()}" onclick="this.src='/tp5/public/index.php/captcha?id='+Math.random()" style="cursor: pointer;position:relative;left:0%;" /><br />
        </div>
        <br/>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-group fa-fw"></i></span>
            <input type="text" class="form-control" id="register_rankpre" placeholder="推荐人，没有可以不填" />
        </div>
        <br/>
        <div class="input-group margin-bottom-sm div-center">
            <button type="submit" class="btn btn-default" id="register_register" >注册</button>
        </div>
    </form>
</div>

</body>
</html>
