<tr>
    <td>RNG VS EDG3:2</td>
    <td>3:2</td>
    <td>5%</td>
    <td>400000</td>
    <td>
        <button class='btn btn-default' id='bettingantiwavelolcompeititonguessing87'>下注</button>
    </td>
</tr>
<script>$('#bettingantiwavelolcompeititonguessing87').click(function () {
    $.BettingAntiwaveLolCompetitionGuessing(8, 7)
});
<tr>
    <td>RNG VS EDG3:1</td>
    <td>3:1</td>
    <td>5%</td>
    <td>400000</td>
    <td>
        <button class='btn btn-default' id='bettingantiwavelolcompeititonguessing88'>下注</button>
    </td>
</tr> < script > $('#bettingantiwavelolcompeititonguessing88').click(function () {
    $.BettingAntiwaveLolCompetitionGuessing(8, 8)
});
<tr>
    <td>RNG VS EDG3:0</td>
    <td>3:0</td>
    <td>5%</td>
    <td>400000</td>
    <td>
        <button class='btn btn-default' id='bettingantiwavelolcompeititonguessing89'>下注</button>
    </td>
</tr> < script > $('#bettingantiwavelolcompeititonguessing89').click(function () {
    $.BettingAntiwaveLolCompetitionGuessing(8, 9)
});
<tr>
    <td>RNG VS EDG0:3</td>
    <td>0:3</td>
    <td>5%</td>
    <td>400000</td>
    <td>
        <button class='btn btn-default' id='bettingantiwavelolcompeititonguessing810'>下注</button>
    </td>
</tr> < script > $('#bettingantiwavelolcompeititonguessing810').click(function () {
    $.BettingAntiwaveLolCompetitionGuessing(8, 10)
});
<tr>
    <td>RNG VS EDG1:3</td>
    <td>1:3</td>
    <td>5%</td>
    <td>400000</td>
    <td>
        <button class='btn btn-default' id='bettingantiwavelolcompeititonguessing811'>下注</button>
    </td>
</tr> < script > $('#bettingantiwavelolcompeititonguessing811').click(function () {
    $.BettingAntiwaveLolCompetitionGuessing(8, 11)
});
<tr>
    <td>RNG VS EDG2:3</td>
    <td>2:3</td>
    <td>5%</td>
    <td>400000</td>
    <td>
        <button class='btn btn-default' id='bettingantiwavelolcompeititonguessing812'>下注</button>
    </td>
</tr> < script > $('#bettingantiwavelolcompeititonguessing812').click(function () {
    $.BettingAntiwaveLolCompetitionGuessing(8, 12)
});